<!DOCTYPE html>
<hmtl>
    <head>
        </hmtl>
        <style>
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
          }
        </style>
        </head>
<body>
    <% if(username) { %><h2><%= username%></h2><% } %>
<button onclick="location='/signup';" style="width:auto;">Sign Up</button>
</body>
</html>